.row
  .input-group.col-md-10.col-md-offset-1.searchBar
    .input-group-addon
      .input-md
        i.glyphicon.glyphicon-search
    input.form-control.input-md(placeholder='{{placeholder}}', ng-model='$parent.search', type='text')
