!!! 5
html.no-js
head
  meta(charset='utf-8')
    title librarybox ui
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //
       Place favicon.ico and apple-touch-icon.png in the root directory
    //
       build:css(.) styles/vendor.css
    //
       bower:css
    //
       endbower
    //
       endbuild
    //
       build:css(.tmp) styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    //
       endbuild
  body(ng-app='libraryboxApp')
    //if lt IE 10
      p.browsehappy
        | You are using an
        strong outdated
        | browser. Please
        a(href='http://browsehappy.com/') upgrade your browser
        | to improve your experience.
    .container
      .header
        ul.nav.nav-pills.pull-right(data-ng-controller='MenuCtrl')
          li(ng-class='{ active: isActive(\'/\')}')
            a(ng-href='/') Home
          li(ng-class='{ active: isActive(\'/authors\')}')
            a(ng-href='#/authors') Authors
          li(ng-class='{ active: isActive(\'/books\')}')
            a(ng-href='#/books') Books
          li(ng-class='{ active: isActive(\'/series\')}')
            a(ng-href='#/series') Series
          li(ng-class='{ active: isActive(\'/tags\')}')
            a(ng-href='#/tags') Tags
          li(ng-class='{ active: isActive(\'/about\')}')
            a(ng-href='#/about') About
        h3.text-muted librarybox ui
      div(ng-view='')
      //
         Google Analytics: change UA-XXXXX-X to be your site's ID.
      script
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
      //
         build:js(.) scripts/oldieshim.js
      //if lt IE 9
        script(src='bower_components/es5-shim/es5-shim.js')
        script(src='bower_components/json3/lib/json3.js')
      //
         endbuild
      //
         build:js(.) scripts/vendor.js
      //
         bower:js
      script(src='bower_components/jquery/dist/jquery.js')
      script(src='bower_components/angular/angular.js')
      script(src='bower_components/angular-cookies/angular-cookies.js')
      script(src='bower_components/angular-touch/angular-touch.js')
      script(src='bower_components/angular-resource/angular-resource.js')
      script(src='bower_components/angular-sanitize/angular-sanitize.js')
      script(src='bower_components/angular-route/angular-route.js')
      //
         endbower
      //
         endbuild
      //
         build:js scripts/plugins.js
      script(src='bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/affix.js')
      script(src='bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/alert.js')
      script(src='bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/dropdown.js')
      script(src='bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tooltip.js')
      script(src='bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/modal.js')
      script(src='bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/transition.js')
      script(src='bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/button.js')
      script(src='bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/popover.js')
      script(src='bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/carousel.js')
      script(src='bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/scrollspy.js')
      script(src='bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/collapse.js')
      script(src='bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tab.js')
      //
         endbuild
      //
         build:js({.tmp,app}) scripts/main.js
      script(src='scripts/app.js')
      script(src='scripts/controllers/main.js')
      script(src='scripts/controllers/about.js')
      script(src='scripts/controllers/authors.js')
      script(src='scripts/services/authors.js')
      script(src='scripts/controllers/books.js')
      script(src='scripts/services/books.js')
      script(src='scripts/controllers/series.js')
      script(src='scripts/services/series.js')
      script(src='scripts/controllers/tags.js')
      script(src='scripts/services/tags.js')
      script(src='scripts/controllers/menu.js')
      //
         endbuild
