<div data-ng-controller="AuthorDetailCtrl">

  <div class='container'>
    <h2 class="page-header">
      {{author.name}}
    </h2>

    <h4>{{books.length}} livres correspondent à cet auteur</h4>

    <ul>
      <a data-ng-repeat="book in books" data-ng-href="#/book/{{book.id}}">
        <li class='row listElement'>
          <div class='col-md-8'>{{book.title}}</div>
          <div class='col-md-4 dateField'>{{toDate(book.pubdate) | date: 'yyyy'}}</div>
        </li>
      </a>
    </ul>
  </div>


</div>
