div(data-ng-controller='SerieDetailCtrl')
  h2.page-header
    | {{serie.name}}
    small.text-muted.pull-right {{serie.id}}
  ol
    li(data-ng-repeat='book in books')
      a(data-ng-href='#/book/{{book.id}}') {{book.name}}
